@import url('https://fonts.googleapis.com/css?family=Playball');

body{
  background-size: cover;
  background-attachment: fixed;
  background-color: #E5E7E9;
  font-family: 'Playball', cursive;
}

h1 {
  width: 200px;
  height: 45px;
  line-height: 45px;
  margin: 0 auto;
  margin-top: 2.7%;
  background-color: #F7F9F9;
  opacity: 0.5;
  text-align: center;
  border-radius: 4px;
}

p {
  float: right;
  font-size: 18px;
  margin-right: 100px;
  margin-top: 100px;
}

 ul {
   width: 300px;
   height: 40px;
   margin: auto;
   margin-top: 400px;
 }

 li {
  display: inline-block;
  margin-left: 5px;
  border-radius: 4px;
  border: 1px solid #1f2f3f;
  width: 30px;
  height: 40px;
  text-align: center;
  color:#95a5a6;
  line-height: 40px;
  box-shadow: 1px 2px 1px 2px;
  cursor: pointer;
 }

li:hover {
  width: 35px;
  height: 45px;
  color: #2f3f4f;
 }

a {
  text-decoration: none;
}

a:hover {
  font-size: 20px;
}

.btn1 {
  background-color: #212F3D;
}
